header {
	overflow: auto;
	background-color: black;
	border-bottom: 3px solid yellow;
}

.container {
	margin: 0 auto;
	width: 960px;
	padding: 15px;
}

h1 {
	color: yellow;
	font-family: "Merriweather", serif;
	float: left;
	margin: 0;
	padding-bottom: 12px;
}

nav {
	float: right;
	padding-top: 8px;
	padding-right: 15px;
}

nav a {
	color: white;
	font-family: "Oswald";
	text-decoration: none;
	padding: 0 6px; 
}

.quote {
	margin: 0 auto;
	overflow: auto;
}

.quote h2 {
	background: #d9d9d9;
	font-family: 'Merriweather';
	font-style: italic;
	color: black;
	text-align: center;
	padding: 10px;
	margin: 0px;
	font-size: 18px;
}

h3 {
	font-family: 'Oswald', sans-serif;
}

#taste {
	color: gray;
	text-decoration: line-through;
}

#are {
	border-bottom: 3px solid yellow;
}

aside {
	float: right;
	width: 300px;
	background: rgba(255,255,255, 0.8);
	font-family: "Source Sans Pro";
	padding: 30px;
}

.two {
	background-image: url("../img/coworking.jpg");
	background-position: center center;
	background-repeat: no-repeat;
}


.clear {
	overflow: auto;
}

.button1 {
    background-color: yellow;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-left: 45px;
    border-radius: 5px;
    font-family: "Merriweather", serif;
    padding: 10px 22px;
    box-shadow: 2px 2px 5px #888888;
}

.three {
	background: #EEEEEE;
	padding-bottom: 20px;
	overflow: auto;
}

.profile {
	float: left;
	width: 250px;
	padding: 15px;
	margin: 40px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	border-right: 1px solid #D3D3D3;
}

.developer {
	float: left;
	width: 250px;
	padding: 15px;
	margin: 40px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	border-right: 1px solid #D3D3D3;
}

.designer {
	float: left;
	width: 250px;
	padding: 15px;
	margin: 40px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}

#CTA{
	font-family: "Merriweather", serif;
	font-size: 16px;
}

.button2 {
    background-color: #C6C6C6;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    border-radius: 5px;
    font-family: "Merriweather", serif;
    padding: 10px 50px;
    box-shadow: 2px 2px 5px #888888;
}

footer {
	background: black;
	color: white;
	padding: 10px;
}

