.container {
	margin: 0 auto;
	width: 960px;
	overflow: auto;
}


header {
	font-family: 'Roboto', sans-serif;
	background-color: #333333;
	color: white;
	padding: 20px;
	border-bottom: 14px solid #929FAD;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 1;
}

header h2 {
	float: left;
	width: 300px;
	margin: 0px;
   color: white;
   font-family: 'Roboto', sans-serif;

}

h1 {
	text-align: center;
	padding-top: 150px;
	padding-bottom: 150px;
	margin: 0px;
}

nav {
	float: right;
	width: 300px;
	margin-top: 6px;
   width: 210px;
}

nav a {
	color: white;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	padding: 0 6px; 
}

.one {
	font-family: 'Oswald', sans-serif;
	background-image: url("../img/homepage.jpg");
	color: white;
	font-size: 20px;
	opacity: 0.9;
	margin-bottom: 10px;
}

body {
	font-family: 'Roboto', sans-serif;
	background-color: #e6e6e6;
   margin-top: 82px;
}

.coldspring {
 	background-image: url("../img/coldspring.jpg");
 	width: 285px;
 	height: 270px;
 	background-position: center center;
 	background-size: 400px;
 	background-repeat: no-repeat;
 	border-radius: 22px;
 	float: left;
}

.cold {
   color: white; 
   font: bold 20px/41px 'Roboto', Sans-Serif; 
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 6px;
   text-align: center;
   border-top-right-radius: 22px;
   border-top-left-radius: 22px;
   margin-top: 0px;
   display: block;
   text-decoration: none;
}

.washington {
 	background-image: url("../img/dc.jpg");
 	width: 285px;
 	height: 270px;
 	background-position: center center;
 	background-size: 400px;
 	background-repeat: no-repeat;
 	border-radius: 22px;
 	float: left;
 	margin-left: 52px;
}

.dc {
   color: white; 
   font: bold 20px/41px 'Roboto', Sans-Serif; 
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 6px;
   text-align: center;
   border-top-right-radius: 22px;
   border-top-left-radius: 22px;
   margin-top: 0px;
   display: block;
   text-decoration: none;
}

.new {
 	background-image: url("../img/newhaven.jpg");
 	width: 285px;
 	height: 270px;
 	background-position: center center;
 	background-size: 400px;
 	background-repeat: no-repeat;
 	border-radius: 22px;
 	float: right;
}

.haven {
   color: white; 
   font: bold 20px/41px 'Roboto', Sans-Serif; 
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 6px;
   text-align: center;
   border-top-right-radius: 22px;
   border-top-left-radius: 22px;
   margin-top: 0px;
   display: block;
   text-decoration: none;
}

.nevada {
 	background-image: url("../img/vegas1.jpg");
 	width: 285px;
 	height: 270px;
 	background-position: center center;
 	background-size: 400px;
 	background-repeat: no-repeat;
 	border-radius: 22px;
 	float: left;
 	margin-top: 25px;
}

.vegas {
   color: white; 
   font: bold 20px/41px 'Roboto', Sans-Serif; 
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 6px;
   text-align: center;
   border-top-right-radius: 22px;
   border-top-left-radius: 22px;
   margin-top: 0px;
   display: block;
   text-decoration: none;
}

.skytop {
 	background-image: url("../img/skytop4.jpeg");
 	width: 285px;
 	height: 270px;
 	background-position: center center;
 	background-size: 400px;
 	background-repeat: no-repeat;
 	border-radius: 22px;
 	float: left;
 	margin-left: 52px;
 	margin-top: 25px;
}

.lodge {
   color: white; 
   font: bold 20px/41px 'Roboto', Sans-Serif; 
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 6px;
   text-align: center;
   border-top-right-radius: 22px;
   border-top-left-radius: 22px;
   margin-top: 0px;
   display: block;
   text-decoration: none;
}

.disney {
 	background-image: url("../img/disney.png");
 	width: 285px;
 	height: 270px;
 	background-position: center center;
 	background-size: 400px;
 	background-repeat: no-repeat;
 	border-radius: 22px;
 	float: right;
  	margin-top: 25px;
}

.world {
   color: white; 
   font: bold 20px/41px 'Roboto', Sans-Serif; 
   background: rgb(0, 0, 0); 
   background: rgba(0, 0, 0, 0.7);
   padding: 6px;
   text-align: center;
   border-top-right-radius: 22px;
   border-top-left-radius: 22px;
   margin-top: 0px;
   display: block;
   text-decoration: none;
}

footer {
	font-family: 'Roboto', sans-serif;
	background-color: #333333;
	color: white;
	padding: 35px;
	margin-top: 20px
}


/*.springsub {
   font-family: 'Oswald', sans-serif;
   background-image: url("../img/coldspring2.jpg");
   color: white;
   font-size: 20px;
   opacity: 0.9;
   margin-bottom: 10px;
   background-size: 100%;
   background-size: cover;                    
   background-repeat: no-repeat;
   background-position: center center; 
   text-shadow: -1px 0 #8c8c8c, 0 1px #8c8c8c, 1px 0 #8c8c8c, 0 -1px #8C8C90;
}*/

p {
   font-family: 'Source Sans Pro', sans-serif;
   line-height: 27px;
   color: #666666;
}

h3 p {
   margin-top: 0px;
}

.mappic {
   font-family: 'Oswald', sans-serif;
   background-image: url("../img/banner.jpg");
   color: white;
   font-size: 20px;
   opacity: 0.9;
   margin-bottom: 10px;
   background-size: 100%;
   background-size: cover;                    
   background-repeat: no-repeat;
   background-position: center center; 
   text-shadow: -1px 0 #8c8c8c, 0 1px #8c8c8c, 1px 0 #8c8c8c, 0 -1px #8C8C90;
   opacity: 0.7;
   height: 250px;
}


.mappic h1 {
   text-align: center;
   padding-top: 100px;
   padding-bottom: 100px;
   margin: 0px;
}

#map {
   width: 960px; 
   height: 550px; 
   margin: auto;
   padding-top: 30px;
}

#intro {
      padding: 64px;
      background-color: #ffffff;
      border-radius: 4px;
      text-align: center;
   }

.button {
      border: 1px solid #666666;
      padding: 10px 26px;
      border-radius: 6px;
      text-decoration: none;
      color: black;
      margin-bottom: 700px;
}

.material-icons{
    display: inline-flex;
    vertical-align: top;
    color: #666666;
}

.coming img{
   height: 500px;
   width: 700px;
   padding-left: 130px;
   padding-top: 20px;
   opacity: .85;
   margin-left: 45px;

}


/*SLIDESHOW*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.picture {
   max-width: 960px;
   padding: 0px;
   max-height: 270px;
   object-fit: cover;
}

.text {
   padding: 100px 12px;
   font-family: 'Oswald', sans-serif;
   text-shadow: -1px 0 #282828, 0 1px #282828, 1px 0 #282828, 0 -1px #282828;
   font-size: 50px;
}